
.TodoItem{
    width: 70%;
    height: auto;
    padding: 16px;
    margin:20px;
    list-style: none;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 3px 3px 7px rgb(41, 41, 41);
    transform: translateX(15%);
}

p{
    margin: 5px;
    padding: 0;
    font-size: large;

}

.btn{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}


.check{
    transform: translateY(-10%);
    width: 45px;
    height: auto;
    float: left;
}

.check .Icon-check{
    fill: black;
}

.Icon-check--active{
    fill:green;
}

.check:hover{
    cursor: pointer;
    width: 47px;

}

.TodoItem-p--complete {
    text-decoration: line-through;
    color: gray;
}

.btn-close{
    float: right;
}

@media (max-width: 600px) {
    .facet_sidebar {
      display: none;
    }

    .TodoItem{
        width: 300px;
        transform: translateX(-20%);
    }

  }
